/* 메인 배너 */
.top{
    width: 100%;
    height: 400px;
    background: #ddd;
    /* background: url(주소) no-repeat 50% 50% /cover;*/
    text-align: center;
}
/* 리스트  */
.name h3 {
    /* height: 50px; */
    font-size: 40px;
    /* font-weight: 700; */
    width: 1180px;
    margin: 0 auto 80px;
    padding: 120px 0 0;
}

.products{
    display: flex;
    flex-wrap: wrap;

}

.products li {
    width: 25%;
    margin-right: 0;
    padding: 0 16px;
    list-style: none;
    margin-bottom: 30px;
    height: 450px;
    flex-basis: 25%; /* 4개씩 1줄로 표시하기 위해 25%로 설정 */
}

 .name {
    display: inline-block;
    padding-top: 7px;
    color: #616161;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.space1{
    min-height: 20px;
    margin-top: 10px;
}

.space2{
    margin-top: 12px;
}

.price {
    margin-right: 6px;
    font-size: 21px;
    font-weight: 700;
    color: #212121;
    margin-top: 12px;
}

.all {
    position: relative;
    width: 1180px;
    margin: 0 auto 80px;
    color: #616161;
    letter-spacing: -1px;
}
.item_info{
    text-align: left;
}