{% extends 'helpyou/base.html' %}
{%  load static %}

    {% block css_area %}
      <link href="{% static 'helpyou/css/index.css' %}" rel="stylesheet" type="text/css">
    {% endblock %}


    {% block main_area %}


    <!-- 메인 배너 -->
    <div class="main_banner">
        <div class="top">
            <p>사진...</p>
        </div>
    </div>
    <div class="all">
    <!-- 메인 리스트 -->
    <div class="main_list"></div>
        <div class="list_name">
            <div class="name">
                <h3>추천 상품!!</h3>
            </div>
        </div>
        <div class="products col4">
            <li>
                <img src="https://dummyimage.com/270x270/000/fff" alt="개 맛도리 사과">
                <div class="item_info">
                    <div class="space1"></div>
                    <span class="name">
                        개 맛도리 사과
                    </span>
                    <div class="space2">
                        <span class="price">
                            1,200원
                        </span>
                    </div>
                </div>
            </li>
            <li>
                <img src="https://dummyimage.com/270x270/000/fff" alt="개 맛도리 사과">
                <div class="item_info">
                    <div class="space1"></div>
                    <span class="name">
                        개 맛도리 사과
                    </span>
                    <div class="space2">
                        <span class="price">
                            1,200원
                        </span>
                    </div>
                </div>
            </li>
            <li>
                <img src="https://dummyimage.com/270x270/000/fff" alt="개 맛도리 사과">
                <div class="item_info">
                    <div class="space1"></div>
                    <span class="name">
                        개 맛도리 사과
                    </span>
                    <div class="space2">
                        <span class="price">
                            1,200원
                        </span>
                    </div>
                </div>
            </li>
            <li>
                <img src="https://dummyimage.com/270x270/000/fff" alt="개 맛도리 사과">
                <div class="item_info">
                    <div class="space1"></div>
                    <span class="name">
                        개 맛도리 사과
                    </span>
                    <div class="space2">
                        <span class="price">
                            1,200원
                        </span>
                    </div>
                </div>
            </li>
            <li>
                <img src="https://dummyimage.com/270x270/000/fff" alt="개 맛도리 사과">
                <div class="item_info">
                    <div class="space1"></div>
                    <span class="name">
                        개 맛도리 사과
                    </span>
                    <div class="space2">
                        <span class="price">
                            1,200원
                        </span>
                    </div>
                </div>
            </li>
            <li>
                <img src="https://dummyimage.com/270x270/000/fff" alt="개 맛도리 사과">
                <div class="item_info">
                    <div class="space1"></div>
                    <span class="name">
                        개 맛도리 사과
                    </span>
                    <div class="space2">
                        <span class="price">
                            1,200원
                        </span>
                    </div>
                </div>
            </li>
            <li>
                <img src="https://dummyimage.com/270x270/000/fff" alt="개 맛도리 사과">
                <div class="item_info">
                    <div class="space1"></div>
                    <span class="name">
                        개 맛도리 사과
                    </span>
                    <div class="space2">
                        <span class="price">
                            1,200원
                        </span>
                    </div>
                </div>
            </li>
            <li>
                <img src="https://dummyimage.com/270x270/000/fff" alt="개 맛도리 사과">
                <div class="item_info">
                    <div class="space1"></div>
                    <span class="name">
                        개 맛도리 사과
                    </span>
                    <div class="space2">
                        <span class="price">
                            1,200원
                        </span>
                    </div>
                </div>
            </li>
        </div>
    </div>

    {% endblock %}